<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="container">
    <nav class = "navbar navbar-expand-sm navbar-dark bg-secondary">
        <a class = "navbar-brand" href = "homepage-static.html">Course App</a>
        <button class = "navbar-toggler" type = "button" data-toggle = "collapse"
                data-target = "#navbarSupportedContent"
                aria-controls = "navbarSupportedContent" aria-expanded = "false"
                aria-label = "Toggle navigation">
            <span class = "navbar-toggler-icon"></span>
        </button>

        <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
            <ul class = "navbar-nav mr-auto">
                <li class = "nav-item">
                    <a class = "nav-link" href = "/">Home</a>
                </li>
                <li class = "nav-item active">
                    <a class = "nav-link" href = "/watchlist">Liste produit</a>
                </li>
                <li class = "nav-item ">
                    <a class = "nav-link" href = "WatchlistItemForm-static.html">Ajouter un client</a>
                </li>
            </ul>
        </div>
    </nav>
    <h2  class = "mt-4">Liste Produit</h2>

    <table class="table">
        <thead class = "thead-light">
        <tr>
            <th class="text-left">ID</th>
            <th class="text-left">Nom</th>
            <th class="text-left">Prix de vente</th>
            <th class="text-left">Prix achat</th>
            <th class="text-left"></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="watchlist : ${watchlist}">
            <td th:text="${watchlist.id}">Avatar</td>
            <td th:text="${watchlist.nom}">7.8</td>
            <td th:text="${watchlist.prix}">LOW</td>
            <td th:text="${watchlist.prixAchat}">Peter recommended</td>
            <td><a href="#" class="btn btn-info" role="button">Update</a></td>
        </tr>

        </tbody>
    </table>
    <hr/>

</div>
</body>
</html>